{
  "mcpServers": {
    "apollo-io-uv": {
      "command": "uv",
      "args": [
        "run",
        "--directory",
        "../../..",
        "python",
        "server.py"
      ],
      "env": {
        "APOLLO_IO_API_KEY": "${env:APOLLO_IO_API_KEY}"
      }
    }
  }
}
